{% extends 'base.html' %}
{% load static %}

{% block title %}Django Ajax CRUD{% endblock %}

{% block content %}
<div>
    <h1>Django Ajax CRUD</h1>
    <div >
	<!--FORMULARIO DE INSERCCIÓN DE DATOS-->
		<div class="col-md-5 ">
			<h3>ADD USER</h3>
			<form id="addUser" action="">
			  <div class="form-group">
				<span>NOMBRE</span><input class="form-control" type="text" name="name" placeholder="Name" value="DEFAULT" required>
			  </div>
			  <div class="form-group">
				<span>ADRESS</span><input class="form-control" type="text" name="address" placeholder="Address" value="DEFAULT_ADRESS" required>
			  </div>
			  <div class="form-group">
				<span>AGE</span><input class="form-control" type="number" name="age" min="10" max="100" placeholder="Age" value="15" required>
			  </div>
			  <div class="form-group">
				<span>NOTE</span><textarea class="form-control" type="text" name="note" placeholder="Note" required>Default Nota</textarea>
			  </div>
			  <div class="form-group">
				<span>USER</span><select class="form-control" name="creador"   multiple>
				{% for creador_list in creador_list %}
					<option value={{creador_list.nombre}}>{{creador_list.nombre}}</option>
				{% endfor %}
				</select>
			  </div>
			  <div class="form-group">
				<span>END_DATE</span><input class="form-control" type="date" name="end_date" required>
			  </div>
			  <div class="form-group">
				<span>TASK</span><select class="form-control" name="task">
					<option value="YES">YES</option>
					<option value="NO">NO</option>	
				</select>
			  </div>
			  <div class="form-group">
				<span>TAG</span><input class="form-control" type="text" name="tag" required>
			  </div>
			  <div class="form-group">
				<span>TYPE</span><input class="form-control" type="text" name="type" required>
			  </div>
			  <button class="btn btn-primary form-control" type="submit">SUBMIT</button>
			</form>
		</div>	
	
	<!--FIN FORMULARIO INSERCCIÓN DE DATOS -->
    <!--TABLA DE NOTE--> 
      <div>
        <h3>USERS</h3>
        <table id="userTable" class="table table-striped">
          <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>ADRESS</th>
            <th>AGE</th>
			<th>NOTE</th>
			<th>AUTOR</th>
			<th>AUTOR2</th>		
			<th>DATE</th>
			<th>END_DATE</th>
			<th>TASK</th>
			<th>TAG</th>
			<th>TYPE</th>
			<th>EDIT</th>
			<th>DLT</th>
          </tr>
          {% if users %}
          {% for user in users %}
          <tr id="user-{{user.id}}">
		      <td class="userId userData" name="id">{{user.id}}</td>
              <td class="userName userData" name="name">{{user.name}}</td>
              <td class="userAddress userData" name="address">{{user.address}}</td>
              <td class="userAge userData" name="age">{{user.age}}</td>
			  <td class="userNote userData" name="note">{{user.note}}</td>
			  <td class="userCreador2 userData" name="creador">
			  {% if user.creador.all|join:"|" %}
				{{user.creador.all|join:"|"}}
			  {% else %}
				{{user.creador2}}
			  {% endif %}
			  </td>
			  <td class="userCreador userData" name="creador2">{{user.creador2}}</td>
              <td class="userDate userData" name="date">{{user.date}}</td>
              <td class="userEnd_Date userData" name="end_date">{{user.end_date}}</td>
			  <td class="userTask userData" name="task">{{user.task}}</td>
			  <td class="userTag userData" name="tag">{{user.tag}}</td>
			  <td class="userType userData" name="type">{{user.type}}</td>
			 
			  <td align="center">
                  <button class="btn btn-success form-control" onClick="editUser({{user.id}})" data-toggle="modal" data-target="#myModal")>EDIT</button>
              </td>
              <td align="center">
                  <button class="btn btn-danger form-control" onClick="deleteUser({{user.id}})">DELETE</button>
              </td>
          </tr>
		  {% endfor %}
          {% else %}
            No Users
          {% endif %}
        </table>
      </div>
	  <!--FIN TABLA DE NOTE-->
    </div>
</div>
  <!-- MODAL EMERGENTE DE EDICIÓN DE NOTE -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="myModalLabel">Update User</h4>
        </div>
        <form id="updateUser" action="">
        <div class="modal-body">
            <input class="form-control" id="form-id" type="hidden" name="formId"/>
            <label for="name">Name</label>
            <input class="form-control" id="form-name" type="text" name="formName"/>
            <label for="address">Address</label>
            <input class="form-control" id="form-address" type="text" name="formAddress"/>
            <label for="age">Age</label>
            <input class="form-control" id="form-age" type="number" name="formAge" min=10 max=100/>
			<label for="note">Note</label>
			<textarea class="form-control" id="form-note" name="formNote"></textarea>
			<label for="creador2">Creador2</label>
			<input class="form-control" id="form-creador2" type="text" name="formCreador2"/>
			<label for="end_date">End_Date</label>
			<input class="form-control" id="form-end_date" type="date" name="formEnd_Date">
			<label for="name">Tag</label>
            <select class="form-control" id="form-tag" name="formTask">
				<option value="YES">YES</option>
				<option value="NO">NO</option>
			</select>
			<label for="name">Task</label>
            <input class="form-control" id="form-type" type="text" name="formTag"/>
			<label for="name">Type</label>
            <input class="form-control" id="form-name" type="text" name="formType"/>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >Save changes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  <!--FIN MODAL EMERGENTE-->
{% endblock %}
{% block javascript %}
<script>
// CREAR NOTE
$("form#addUser").submit(function() {
	//OBTIENE LOS VALORES DE LOS CAMPOS DEL FORMULARIO
    var nameInput = $('input[name="name"]').val().trim();
    var addressInput = $('input[name="address"]').val().trim();
    var ageInput = $('input[name="age"]').val().trim();
	var noteInput = $('textarea[name="note"]').val().trim();
	var creadorInput = $('select[name="creador"]').val();
	var end_dateInput = $('input[name="end_date"]').val().trim();
	var taskInput = $('select[name="task"]').val();
	var tagInput = $('input[name="tag"]').val().trim();
	var typeInput = $('input[name="type"]').val().trim();

	if (true) {
        // LLAMA A CREATE
        $.ajax({
            url: '{% url "crud_ajax_create" %}',
            data: {
                'name': nameInput,
                'address': addressInput,
                'age': ageInput,
				'note': noteInput,
				'creador': creadorInput,
				'end_date':end_dateInput,
				'task':taskInput,
				'tag':tagInput,
				'type':typeInput,
            },
            dataType: 'json',
            success: function (data) {
                if (data.user) {
                  appendToUsrTable(data.user); //LLAMA A LA FUNCION PARA ACTUALIZAR LA TABLA CON LOS DATOS CREADOS DESDE FORMULARIO
                }
            }
        });
      } else {
        alert("All fields must have a valid value.");
    }
    $('form#addUser').trigger("reset");
    return false;
});
//DESPUES DE CREAR UN OBJETO NOTE, LO MUESTRA EN LA TABLA
function appendToUsrTable(user) {
  $("#userTable > tbody:last-child").append(`
        <tr id="user-${user.id}">'
			'<td class="useId" name="name">${user.id}</td>
            '<td class="userName" name="name">${user.name}</td>
            '<td class="userAddress" name="address">${user.address}</td>
            '<td class="userAge" name="age">${user.age}</td>
			'<td class="userNote" name="note">${user.note}</td>
			'<td class="userCreador" name="creador">${user.creador2}</td>
			'<td class="userCreador2" name="creador2">${user.creador2}</td>
			'<td class="userDate" name="date">${user.date}</td>
			'<td class="userEnd_Date" name="end_date">${user.end_date}</td>
			'<td class="userTask" name="task">${user.task}</td>
			'<td class="userTag" name="tag">${user.tag}</td>
			'<td class="userType" name="type">${user.type}</td>
            '<td align="center">
                <button class="btn btn-success form-control" onClick="editUser(${user.id})" data-toggle="modal" data-target="#myModal")">EDIT</button>
            </td>
            <td align="center">
                <button class="btn btn-danger form-control" onClick="deleteUser(${user.id})">DELETE</button>
            </td>
        </tr>
    `);
}

// ACTUALIZA EL REGISTRO
$("form#updateUser").submit(function() {
    var idInput = $('input[name="formId"]').val().trim();
    var nameInput = $('input[name="formName"]').val().trim();
    var addressInput = $('input[name="formAddress"]').val().trim();
    var ageInput = $('input[name="formAge"]').val().trim();
	var noteInput = $('textarea[name="formNote"]').val().trim();
	var creador2Input = $('input[name="formCreador2"]').val().trim();
	var end_dateInput = $('input[name="formEnd_Date"]').val().trim();
	var taskInput = $('select[name="formTask"]').val();
	var tagInput = $('input[name="formTag"]').val().trim();
	var typeInput = $('input[name="formType"]').val().trim();
    if (true) {
        // Create Ajax Call
        $.ajax({
            url: '{% url "crud_ajax_update" %}',
            data: {
                'id': idInput,
                'name': nameInput,
                'address': addressInput,
                'age': ageInput,
				'note': noteInput,
				'creador2':creador2Input,
				'end_date': end_dateInput,
				'task':taskInput,
				'tag':tagInput,
				'type':typeInput,
            },
            dataType: 'json',
            success: function (data) {
                if (data.user) {
                  updateToUserTabel(data.user);
                }
            }
        });
       } else {
        alert("All fields must have a valid value.");
    }
    $('form#updateUser').trigger("reset");
    $('#myModal').modal('hide');
    return false;
});

// Rellena los campos en la pantalla de EDITAR
function editUser(id) {
  if (id) {
    tr_id = "#user-" + id;
    name = $(tr_id).find(".userName").text();
    address = $(tr_id).find(".userAddress").text();
    age = $(tr_id).find(".userAge").text();
	note = $(tr_id).find(".userNote").text();
	creador2 = $(tr_id).find(".userCreador2").text().trim();
	end_date = $(tr_id).find(".userEnd_Date").text();
	task = $(tr_id).find(".userTask").text().trim();
	tag = $(tr_id).find(".userTag").text();
	type = $(tr_id).find(".userType").text();
    $('#form-id').val(id);
    $('#form-name').val(name);
    $('#form-address').val(address);
    $('#form-age').val(age);
	$('#form-note').val(note);
	$('#form-creador2').val(creador2);
	$('#form-end_date').val(end_date);
	$('#form-task').val(task);
	$('#form-tag').val(tag);
	$('#form-type').val(type);
  }
}
function updateToUserTabel(user){
    $("#userTable #user-" + user.id).children(".userData").each(function() {
        var attr = $(this).attr("name");
        if (attr == "name") {
          $(this).text(user.name);
        }
		if (attr == "address") {
          $(this).text(user.address);
        }
		if (attr == "creador2"){
		  $(this).text(user.creador2);
		}
		if (attr == "creador"){
		  $(this).text(user.creador2);
		}
		if (attr == "note"){
          $(this).text(user.note);
        }
		if (attr == "age"){
		  $(this).text(user.age);
		}
		if (attr == "end_date"){
		  $(this).text(user.end_date);
		}
		if (attr == "task"){
		  $(this).text(user.task);
		}
		if (attr == "tag"){
		  $(this).text(user.tag);
		}
		if (attr == "type"){
		  $(this).text(user.type);
		}
		
      });
}

// Delete Django Ajax Call
function deleteUser(id) {
  var action = confirm("Are you sure you want to delete this user?");
  if (action != false) {
    $.ajax({
        url: '{% url "crud_ajax_delete" %}',
        data: {
            'id': id,
        },
        dataType: 'json',
        success: function (data) {
            if (data.deleted) {
              $("#userTable #user-" + id).remove();
            }
        }
    });
  }
}



</script>
{% endblock javascript %}