{% extends 'base.html' %}
{% load static %}

{% block title %}Django Ajax CRUD{% endblock %}

{% block content %}
<div id="app">
	<div id="container">
    <h1>PRUEBA DE SELECCIÓN</h1>
	<h2>Carlos Arcas Alcalá</h2>
    
	<!--FORMULARIO DE INSERCCIÓN DE DATOS-->
	<section id="containerForm">
		<input type="button" id="btndlt" value="INSERTAR NOTA"  class="btn-info" onclick="mostrarForm()">
		<div id="FormularioInput" class="col-md-8">
			<button id="botonCerrar" type="button" class="btn btn-danger" onclick="cerrarForm()">X</button>
			<h3 class="Titulo">INSERTAR NOTA</h3>
			<form id="addUser" action="">
			  <div class="form-group">
				<span>END_DATE</span><input class="form-control" type="date" name="end_date" required>
			  </div>
			  <div class="form-group">
				<span>NOTE</span><textarea class="form-control" type="text" name="note" placeholder="Note" required></textarea>
			  </div>
			  <div  class="form-group">
				<span>ADJUNTO</span><input id="adjunto" type="file" name="adjunto">
			  </div>
			  <div class="form-group">
				<span>USER</span><select class="form-control" name="creador"   multiple>
				{% for creador_list in creador_list %}
					<option value={{creador_list.nombre}}>{{creador_list.nombre}}</option>
				{% endfor %}
				</select>
			  </div>
			  
			  <div class="form-group">
				<span>TASK</span><select class="form-control" name="task">
					<option value="YES">YES</option>
					<option value="NO">NO</option>	
				</select>
			  </div>
			  <div class="form-group">
				<span>TAG</span><input class="form-control" type="text" name="tag" required>
			  </div>
			  <div class="form-group">
				<span>TYPE</span><input class="form-control" type="text" name="type" required>
			  </div>
			  <button class="btn btn-primary form-control" type="submit" onclick="cerrarForm()">SUBMIT</button>
			</form>
		</div>	
	</section>
	<!--FIN FORMULARIO INSERCCIÓN DE DATOS -->
    <!--TABLA DE NOTE--> 
      <div id="TablaOutput">
        <div class="Titulo"><h3>NOTE</h3></div>
        <table id="userTable" class="table table-striped">
          <tr>
            <th>ID</th>
			<th>DATE</th>
			<th>END_DATE</th>
			<th>NOTE</th>
			<th>ADJUNTO</th>
			<th>USER</th>					
			<th>TASK</th>
			<th>TAG</th>
			<th>TYPE</th>
			<th>EDITAR</th>
			<th>BORRAR</th>
          </tr>
          {% if users %}
          {% for user in users %}
          <tr id="user-{{user.id}}">
		      <td class="userId userData" name="id">{{user.id}}</td>
			  <td class="userDate userData" name="date">{{user.date}}</td>
              <td class="userEnd_Date userData" name="end_date">{{user.end_date}}</td>
			  <td class="userNote userData" name="note">{{user.note}}</td>
			  <td class="userAdjunto userData" name="adjunto"></td>
			  <td class="userCreador2 userData" name="creador" hidden>
			  {% if user.creador.all|join:"|" %}
				{{user.creador.all|join:"|"}}
			  {% else %}
				{{user.creador2}}
			  {% endif %}
			  </td>
			  <td class="userCreador userData" name="creador2">{{user.creador2}}</td>
			  <td class="userTask userData" name="task">{{user.task}}</td>
			  <td class="userTag userData" name="tag">{{user.tag}}</td>
			  <td class="userType userData" name="type">{{user.type}}</td>
			  <td align="center">
                  <button class="btn btn-success form-control" onClick="editUser({{user.id}})" data-toggle="modal" data-target="#myModal")>EDIT</button>
              </td>
              <td align="center">
                  <button class="btn btn-danger form-control" onClick="deleteUser({{user.id}})">DELETE</button>
              </td>
          </tr>
		  {% endfor %}
          {% else %}
            No Users
          {% endif %}
        </table>
      </div>
	</div>
	  <!--FIN TABLA DE NOTE-->
  <!-- MODAL EMERGENTE DE EDICIÓN DE NOTE -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="myModalLabel">Update User</h4>
        </div>
        <form id="updateUser" action="">
        <div class="modal-body">
			<input class="form-control" id="form-id" type="hidden" name="formId"/>
			
			<label for="end_date">End_Date</label>
			<input class="form-control" id="form-end_date" type="date" name="formEnd_Date" required>
            
			<label for="note">Note</label>
			<textarea class="form-control" id="form-note" name="formNote"></textarea>
			
			<label for="creador2">User</label>
			<input class="form-control" id="form-creador2" type="text" name="formCreador2" />
			
			<label for="Adjunto">Adjunto</label>
			<input class="form-control" id="form-adjunto" type="file" name="formAdjunto" />
			
			
			<label for="name">Task</label>
            <select class="form-control" id="form-task" name="formTask">
				<option value="YES">YES</option>
				<option value="NO">NO</option>
			</select>
			
			<label for="name">Tag</label>
            <input class="form-control" id="form-tag" type="text" name="formTag" />
			
			<label for="name">Type</label>
            <input class="form-control" id="form-type" type="text" name="formType" />
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >Save changes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
  <!--FIN MODAL EMERGENTE-->
{% endblock %}
{% block javascript %}
<script>
// CREAR NOTE
$("form#addUser").submit(function() {
	//OBTIENE LOS VALORES DE LOS CAMPOS DEL FORMULARIO
	var noteInput = $('textarea[name="note"]').val().trim();
	var creadorInput = $('select[name="creador"]').val();
	var end_dateInput = $('input[name="end_date"]').val().trim();
	var taskInput = $('select[name="task"]').val();
	var adjuntoInput= $('input[name="adjunto"]').val().trim();
	var tagInput = $('input[name="tag"]').val().trim();
	var typeInput = $('input[name="type"]').val().trim();


	// LLAMA A CREATE
	$.ajax({
		url: '{% url "crud_ajax_create" %}',
		data: {
			'note': noteInput,
			'creador': creadorInput,
			'end_date':end_dateInput,
			'adjunto': adjuntoInput,
			'task':taskInput,
			'tag':tagInput,
			'type':typeInput,
		},
		dataType: 'json',
		success: function (data) {
			if (data.user) {
			  appendToUsrTable(data.user); //LLAMA A LA FUNCION PARA ACTUALIZAR LA TABLA CON LOS DATOS CREADOS DESDE FORMULARIO
			}
		}
	});

    $('form#addUser').trigger("reset");
    return false;
});
//DESPUES DE CREAR UN OBJETO NOTE, LO MUESTRA EN LA TABLA
function appendToUsrTable(user) {
  $("#userTable > tbody:last-child").append(`
        <tr id="user-${user.id}">'
			'<td class="useId" name="name">${user.id}</td>
			'<td class="userDate" name="date">${user.date}</td>
			'<td class="userEnd_Date" name="end_date">${user.end_date}</td>
			'<td class="userNote" name="note">${user.note}</td>
			'<td class="userAdjunto" name="adjunto"> </td>
			'<td class="userCreador" name="creador" hidden>${user.creador2}</td>
			'<td class="userCreador2" name="creador2">${user.creador2}</td>
			
			'<td class="userTask" name="task">${user.task}</td>
			'<td class="userTag" name="tag">${user.tag}</td>
			'<td class="userType" name="type">${user.type}</td>
            '<td align="center">
                <button class="btn btn-success form-control" onClick="editUser(${user.id})" data-toggle="modal" data-target="#myModal")">EDIT</button>
            </td>
            <td align="center">
                <button class="btn btn-danger form-control" onClick="deleteUser(${user.id})">DELETE</button>
            </td>
        </tr>
    `);
}

// ACTUALIZA EL REGISTRO
$("form#updateUser").submit(function() {
    var idInput = $('input[name="formId"]').val().trim();
	var noteInput = $('textarea[name="formNote"]').val().trim();
	var creador2Input = $('input[name="formCreador2"]').val().trim();
	var end_dateInput = $('input[name="formEnd_Date"]').val().trim();
	var taskInput = $('select[name="formTask"]').val();
	var tagInput = $('input[name="formTag"]').val().trim();
	var typeInput = $('input[name="formType"]').val().trim();

	// AJAX
	$.ajax({
		url: '{% url "crud_ajax_update" %}',
		data: {
			'id': idInput,
			'note': noteInput,
			'creador2':creador2Input,
			'end_date': end_dateInput,
			'task':taskInput,
			'tag':tagInput,
			'type':typeInput,
		},
		dataType: 'json',
		success: function (data) {
			if (data.user) {
			  updateToUserTabel(data.user);
			}
		}
	});

    $('form#updateUser').trigger("reset");
    $('#myModal').modal('hide');
    return false;
});

// Rellena los campos en la pantalla de EDITAR
function editUser(id) {
  if (id) {
    tr_id = "#user-" + id;
	note = $(tr_id).find(".userNote").text();
	creador2 = $(tr_id).find(".userCreador2").text().trim();
	end_date = $(tr_id).find(".userEnd_Date").text();
	task = $(tr_id).find(".userTask").text().trim();
	tag = $(tr_id).find(".userTag").text();
	type = $(tr_id).find(".userType").text();
    $('#form-id').val(id);
	$('#form-note').val(note);
	$('#form-creador2').val(creador2);
	$('#form-end_date').val(end_date);
	$('#form-task').val(task);
	$('#form-tag').val(tag);
	$('#form-type').val(type);
  }
}
function updateToUserTabel(user){
    $("#userTable #user-" + user.id).children(".userData").each(function() {
        var attr = $(this).attr("name");
		if (attr == "creador2"){
		  $(this).text(user.creador2);
		}
		if (attr == "creador"){
		  $(this).text(user.creador2);
		}
		if (attr == "note"){
          $(this).text(user.note);
        }
		if (attr == "end_date"){
		  $(this).text(user.end_date);
		}
		if (attr == "task"){
		  $(this).text(user.task);
		}
		if (attr == "tag"){
		  $(this).text(user.tag);
		}
		if (attr == "type"){
		  $(this).text(user.type);
		}
		
      });
}

// Delete Django Ajax Call
function deleteUser(id) {
  var action = confirm("¿Desea borrar este registro?");
  if (action != false) {
    $.ajax({
        url: '{% url "crud_ajax_delete" %}',
        data: {
            'id': id,
        },
        dataType: 'json',
        success: function (data) {
            if (data.deleted) {
              $("#userTable #user-" + id).remove();
            }
        }
    });
  }
}

function mostrarForm()
{
	$( "#btndlt" ).css( "display","none" );
	$( "#FormularioInput" ).css( "display","initial" );

}
function cerrarForm()
{
	$( "#btndlt" ).css( "display","initial" );
	$( "#FormularioInput" ).css( "display","none" );
}

</script>
{% endblock javascript %}